* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

#__next {
  @include flex-util(column, "", stretch);
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
}

h1 {
  font-size: clamp(28px, 5vw, 46px);
}

p {
  font-size: clamp(14px, 1.5vw, 16px);
}

a {
  color: $primary_8;

  &:hover {
    text-decoration: none;
  }
}