.menu {
  @include flex-util(row, space-between, center);

  a {
    color: white;
    margin: 0 10px;
    position: relative;
    font-weight: 500;
    text-decoration: none;
    transition: 0.2s;

    &.active::after,
    &::after {
      @include size-util(0%, 2px);
      content: "";
      background: white;
      position: absolute;
      left: 0;
      bottom: -5px;
      transition: 0.3s;
    }

    &.active::after,
    &:hover::after {
      width: 100%;
    }
  }

  button {
    margin-left: 10px;
    cursor: pointer;
  }

  @media screen and (max-width: $tablet) {
    @include size-util(100%, calc(100% - 80px));
    @include flex-util(column, flex-start, center);
    max-width: 300px;
    background: $primary_5;
    padding: 20px;
    position: fixed;
    bottom: 0;
    right: 0;
    transform: translateX(100%);
    transition: 0.2s;
    overflow-y: auto;

    &.active {
      transform: translateX(0);
    }

    a {
      margin: 15px 0;
      font-weight: 600;

      &::before {
        content: "TRÍVEL";
        color: $primary_5;
        font-size: 32px;
        font-weight: 900;
        letter-spacing: 8px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
      }

      svg {
        margin-bottom: -4px;
      }
    }

    button {
      margin: auto 0 50px 0;
    }
  }

  @media screen and (max-height: 550px) {
    button {
      margin: auto 0 20px 0;
    }
  }
}
