.breadcrumbs {
  @include flex-util(row, "", center);
  min-height: $breadcrumbs_height;
  background: var(--mantine-color-gray-1);
  color: var(--mantine-color-gray-9);
  padding-inline: $page_padding;
  font-size: 14px;
  position: sticky;
  top: $header_height;
  z-index: 2;

  a {
    color: inherit;
    text-decoration: none;

    &.active {
      font-weight: 600;
    }
  }
}
